# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
.env

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Notebooks
.ipynb_checkpoints/
notebooks/**

# Streamlit
.streamlit/

# Models/Checkpoints
models/*.h5
models/*.pt
models/*.ckpt
models/baseline_models/*.joblib

# Data caches
data/processed/*.png
